# Week 1: Introduction to Python Fundamentals
This weeks content will cover the very basics of the built-in Python Data Types:
* Numerics
* Sequences
* Mappings
* Set
* Booleans
* Binaries

Note that we will not be covering any *object methods* until Week 7, where we will learn about **object-oriented programming**.

Please work through this notebook, making sure every code cell is run, and writing code to solve Excercises where appplicable. Remember to run a cell we click on it and press the play button in the toolbar above, or use the shortcut Ctrl+enter. For more help on how to use Jupyter, please revise the introductory slides (email me at kaiya.raby@nadara.com if you do not have access to these.

Answers to this worksheet are available [here](https://github.com/kaiyaraby/wind_energy_analytics_ke/tree/main/Python/Week%201%20-%20Introduction%20to%20Python%20Fundamentals).

The 'office-hour/tutorial' for this week will be on Wednesday 23rd from 15:00-16:00 BST. Please attend if you have any questions regarding this work, or would like to carry out this session with assistance available.

  
## 1: Variables
Variables are containers for storing data values. These data values can be many different things such as numbers, strings of letters, lists and much more. Variables are created when we assign values to them using the assignment operator (=). Let's assign the number 1 to the variable x.

In [1]:
x = 1

We can check that this has been assigned correctly by printing the value of our operator. We do this by using the **print()** function in Python.

In [2]:
print(x)

1

Unlike many programming languages, when we define a variable in Python we do not need to declare what type of data we are storing. This is automatically determined when we assigned our variable. We can check the *type* of data our variable is storing using the **type()** function

In [3]:
type(x)

int

In this case we see the variable has been set to type **int** (an integer). However, this doesn't mean our variable must be an integer - we can change their type by altering or reassigning them. Let's redefine x to be a string.

In [4]:
x = 'one'

#### Exercise 1.1
Type code in the cell below to check the type of x.

In [5]:
type(x)

str

## 2: Numeric Types - integers, floats and complex numbers
Python has three different data types to store and use numbers, these are
* **Python Integer (int)**: whole numbers with no decimal points; these can be negative, and there is no limit on how long they are

In [6]:
x = 3
type(x)

int

* **Float (float)**: used to represent real numbers with a fractional component, able to store decimal values and perform mathematical calculations that require precision. This data type is stored using binary representation, so arithmetic operations to many decimal points often lead to rounding errors. Other data types are available using external *packages* which we will learn about in Week 9.

In [7]:
x = 3.141592
type(x)

float

* **Complex (complex)**: numbers with real and *imaginary* parts. These are used in some parts of mathematics and engineering, but don't worry too much about understanding this concept! A complex number is represented as
$$a+bj$$ where a is the real part, b is the imaginary part and j is the imaginary unit
$$j=\sqrt{-1}.$$
We create a complex number in Python using the syntax complex(a,b).

In [8]:
x = complex(3,1)
type(x)

complex

#### Arithmetic Operators
Run the following cells to see how different numberical operators work. Remember we run a cell by selecting it and pressing the play button in the toolbar at the top of the page, or by using the shortcut Ctrl+enter.

In [9]:
2 + 3  # Add two numbers with +

5

In [10]:
5 - 8 # Subtract a number with -

-3

In [11]:
3 * 4 # Multiply two numbers with *

12

In [12]:
2**5 # Integers can be raised to the power with **

32

In [13]:
6 / 2 # Divide a number by another with /

3.0

In [14]:
7 // 3 # Integer divide a number with //

2

In [15]:
8 % 3 # Get the remainder after division with %

2

We can use brackets to separate different parts of an equation, to carry out multiple operations. For example we may write
$$\frac{2+3^7}{5}$$
as

In [16]:
(2 + 3**7)/5

437.8

We can use these operators on any variable that is of numerical type. Let's define x to be 2.5 and calculate $$x^2+5$$

In [17]:
x = 2.5
x**2+5

11.25

#### Exercise 2.1
Write code in the cell below using the mathematical operators we've just learned to calculate the:
* Precise answer
* Integer answer
* Remainder

of the following equation

$$\frac{3x^2+2x+7}{5x+4}$$

In [18]:
precise = (3*x**2+2*x+7) / (5*x+4)
integer = (3*x**2+2*x+7) // (5*x+4)
remainer = (3*x**2+2*x+7) % (5*x+4)

Run the following cells to view the amending arithmetic operators

In [19]:
x = 10

In [20]:
x += 10 #the += operator adds to the variable x
x

20

In [21]:
x -= 10 #the -= operator takes away from the variable x
x

10

In [22]:
x /= 5 #the /= operator divides the variable x
x

2.0

In [23]:
x *= 2 #the *= operator multiplies the variable x
x

4.0

## 3: Sequence Types - strings, lists and tuples
### Strings
A **string (str)** is a sequence of *characters*. In Python, we define them using quotation marks or inverted commas.

In [24]:
string1 = 'hello'
string2 = "world"
print(string1)
print(string2)

hello
world

#### String Operators
Many of the operators we used with other data types such as numbers, also work on strings but in different ways.

In [25]:
added = string1 + string2
multiplied = string1*5

#### Exercise 3.1 
Use print statements to print the results of using the + and * operators in the cell above. What do these operators do when applied to strings?

In [26]:
print(added) # combines them 
print(multiplied) # repeats all the characters in the string

helloworld
hellohellohellohellohello

#### Exercise 3.2
Create a third string which when added between string1 and string 2 creates the phrase 'hello, world'

In [27]:
your_string = ', '
print(string1+your_string+string2)

hello, world

### Lists
A list is a built-in dynamic sized array (automatically grows and shrinks). We can store all types of items (including another list) in a list. We create lists with [], separating elements with a comma.

In [28]:
x = [1, 3, 2]

The main features in a list are:
* Lists are ordered based on how they are added.
Accessing items in Lists can be done directly using their position (index), starting from 0. We access the $n^{th}$ element of a list by using the syntax **list[n-1]**.

In [29]:
x = [1,2,3]
x[0] # access the 1st element of the list

1

#### Exercise 3.3
Print the third element in the list **x** in the cell below

In [30]:
print(x[2])

3

* Lists can store different data types within them

In [31]:
x = [1, 'hello', 2.5, [1,2,3]]

#### Exercise 3.4
Print the type of the second element in the list **x** in the cell below

In [32]:
print(type(x[1]))

<class 'str'>

* Lists can contain duplicate items

In [33]:
x = [1,1,1,2,3]
x

[1, 1, 1, 2, 3]

* Lists in Python are *mutable*, meaning we can modify, replace or delete items within them

In [34]:
x = [1,2,3]
x[0] = 5
x

[5, 2, 3]

#### Exercise 3.5
Amend the 3rd element in the list **x** to be 10

In [35]:
x[2] = 10

#### Exercise 3.6
Using the *= operator, multiply the second element in the list **x** by 10

In [36]:
x[1] *= 10

### Tuples
A tuple in Python is an immutable ordered collection of elements. Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable). 
We create tuples with (), separating elements with a comma

In [37]:
x = (1,2,3,4)

Like lists they are ordered

In [38]:
x[0]

1

Like lists they are heterogeneous (can contain different data types)

In [39]:
x = ('hello', 1)

Howver, unlike lists they are *immutable*. This means we can't change elements, or add to them. We see when we try to edit an element we get a **TypeError**

In [40]:
x[0] = 5

TypeError: 'tuple' object does not support item assignment

If we want to edit a tuple we can first convert it to a list using the **list()** function

In [41]:
y = list(x)
y[0] = 5
y

[5, 1]

If we wish, we may then convert it back to a tuple using the **tuple()** function

In [42]:
x = tuple(y)
x

(5, 1)

#### Exercise 3.7

Divide every element in x by 2, using the list() function, /= operator, and tuple() function.

In [46]:
x = (2,4,6)

In [48]:
y = list(x)

y[0] /= 2
y[1] /= 2
y[2] /= 2

x = tuple(y)

## 4: Mapping Type - dictionaries

A **dictionary (dict)** is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can't be repeated and must be immutable. Dictionaries are defined using the syntax {key1:value1, key2:value2}

In [49]:
dictionary = {'a':1, 'b':2, 'c':2}

We then access the values in the dictionary using keys as indeces e.g. dictionary[key] = value

In [50]:
dictionary['b']

2

We can add new elements to the dictionary by assigning values to dictionary[key] as follows

In [51]:
dictionary['d'] = 4
dictionary['d']

4

#### Excercise 4.1
Make a dictionary with the keys 'name' and 'age', and your own details.

In [61]:
dictionary = {'name':'Kaiya', 'age':'25'}

print(f'my name is {dictionary['name']} and my age is {dictionary['age']}')

my name is Kaiya and my age is 25

#### Excercise 4.2
Add your occupation to the dictionary with the key 'occupation'

In [65]:
dictionary['occupation'] = 'Engineer'

In [66]:
print(f'my name is {dictionary['name']}, my age is {dictionary['age']}, and my occupation is {dictionary['occupation']}')

my name is Kaiya, my age is 25, and my occupation is Engineer

In [64]:
dictionary

{'name': 'Kaiya', 'age': '25'}

## 5: Set Type
A Python set is an unordered collection of multiple items, which may have different datatypes. In Python, sets are mutable, unindexed and do not contain duplicates. The order of elements in a set is not preserved and can change. The most basic and efficient method for creating a set is using curly braces.

In [67]:
my_set = {1,1,1,2,3}
my_set

{1, 2, 3}

We see that unlike lists, sets cannot contain duplicates - so any duplicates are not stored. This can be really useful when we want to know the unique elements within a group. For example, if we have a long list we can convert it to a set to view just its unique elements we can do so as follows.

In [68]:
my_list = [1,1,1,1,1,1,1,1,1,2,3,4,5,17,17,17,17,18,19,31,41,42,42,42,42,42,42,18,28,29,10]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5, 10, 17, 18, 19, 28, 29, 31, 41, 42}

Unlike a list or a tuple, we can't access ordered elements as a set is unordered and therefore unindexable

In [69]:
my_set[0]

TypeError: 'set' object is not subscriptable

Like a list they are *muteable* meaning we can edit them, however we cannot use the same built-in Python operators

In [70]:
my_set += {900}
my_set

TypeError: unsupported operand type(s) for +=: 'set' and 'set'

Instead we need to use *methods*, which are functions built-in to the object itself. This is what is known as **object-oriented** programming, one of the main benefits and an essential part of Python. We will learn about how these work in Week 7.

If we wish to create a set that cannot be edited (i.e. is *immutable*) we can use a **frozenset**. This is functionally the same in all other regards except that it can't be changed. We can convert a set to a frozenset when we no longer want to make changes as follows

In [71]:
frozen_set = frozenset(my_set)
frozen_set

frozenset({1, 2, 3, 4, 5, 10, 17, 18, 19, 28, 29, 31, 41, 42})

## 6: Boolean Type
**Boolean (bool)** values are *truth* values assigned either **True** or **False**. They are usually used to check the truth of a statement, and are very useful for *control flows*, which we will learn about in Week 3.

In [72]:
a = True
type(a)

bool

In [73]:
b = False
type(b)

bool

If we convert anything empty or equal to 0 to a boolean it will be considered False

In [74]:
print(bool(0))
print(bool(None))
print(bool({}))
print(bool(''))

False
False
False
False

If we convert anything not empty, or unequal to 0, to a boolean it will be considered True

In [75]:
print(bool(5))
print(bool({1}))
print(bool((1,2)))
print(bool('hello'))

True
True
True
True

The *numerical* interpretation of True is 1, and the numerical interpretation of False is 0

In [76]:
print(int(True))
print(int(False))

1
0

#### Boolean operators
We can evaluate the truth of a statement using boolean operators.

In [77]:
2 == 2 # a==b assesses whether a is equivalent to b

True

In [78]:
2 != 2 # a==b assesses whether a is not equivalent to b

False

In [79]:
3 <= 2 # a<=b assesses whether a is less than or equal to b

False

In [80]:
4 >= 1 # a>=b assesses whether a is greater than or equal to b

True

In [81]:
2 < 2 # a<b assesses whether a is less than b

False

In [82]:
3 > 4 # a>b assesses whether a is more than b

False

In [83]:
not 3 > 4 # we can write not before a statement to assess whether it is True that the following statement is False

True

In [84]:
2==2 & 3>4 # we can write & between statements to check whether both are True

False

In [85]:
2==2 and 3>4 # we can write and between statements to check whether both are True

False

In [86]:
2==2 | 3>4 # we can write | between statements to check whether at least one of them is True

False

In [87]:
2==2 or 3>4 # we can write or between statements to check whether at least one of them is True

True

## 7: Binary Type
There are additional types with Python known as binary types. These are used for a lot of behind-the-scenes memory storage but we don't tend to use them much in our day-to-day coding work (especially when we're just starting out!). You can find out more about the three binary types in the links below:
* [Bytes](https://www.geeksforgeeks.org/python/python-bytes-method/)
* [Bytearrays](https://www.geeksforgeeks.org/python/python-bytearray-function/)
* [Memoryviews](https://www.geeksforgeeks.org/python/memoryview-in-python/)

Well done for reaching the end of Week 1! Answers to this worksheet are available [here](https://github.com/kaiyaraby/wind_energy_analytics_ke/tree/main/Python/Week%201%20-%20Introduction%20to%20Python%20Fundamentals).

The 'office-hour/tutorial' for this week will be on Wednesday 23rd from 15:00-16:00 BST. Please attend if you have any questions regarding this work, or would like to carry out this session with assistance available.

The next session (Week 3) will cover control flows such as conditional statements (if, elif, else) and loops (for, while).

Please contact me at kaiya.raby@nadara.com for any further information or assistance.